@media screen and (min-width:768px) and (orientation:landscape){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom, #112233, #66CC99);
    }
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 90vh;
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-top-left-radius:10px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);
    }
    section > img{
        height: 100%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .username, .userpassword{
        width: 90%;
    }
    button{
        width: 90%;
    }
}